<%= f.text_area_form_group :possible_values, value: @custom_field.possible_values.to_a.join("\n"), rows: 15, required: true, hint: l(:text_custom_field_possible_values_info) %>
<%= f.text_field_form_group :default_value %>
<%= f.text_field_form_group :url_pattern, size: 50, label: l(:label_link_values_to) %>

<p><%= edit_tag_style_tag f %></p>
