<% icon ||= true %>
<% text ||= false %>
<% html = [] %>
<% html << content_tag(:i, nil, class: 'bi bi-trash') if icon %>
<% html << content_tag(:span, l(:button_delete)) if text %>

<%= form_tag principal_membership_path(principal, membership), method: :delete, class: 'btn btn-danger', title: l(:button_delete) do %>
  <span onclick="javascript:this.form.submit();return false;">
    <%= html.compact.join('&nbsp;').html_safe %>
  </span>
<% end %>