<% html_class ||= 'd-flex justify-content-between my-3' %>

<div class="<%= html_class %>">
  <%= title %>
  <% if block_given? && defined?(actions) %>
    <div class="d-flex align-items-center gap-1">
      <%= actions %>
    </div>
  <% end %>
</div>