<% icon = defined?(icon) ? icon : true %>
<% text = defined?(text) ? text : false %>

<% @jump_box ||= Redmine::ProjectJumpBox.new user %>
<% bookmarked = @jump_box.bookmark?(project) %>

<% method = bookmarked ? :delete : :post %>
<% icon_class ||= bookmarked ? 'bi bi-bookmark-fill' : 'bi bi-bookmark' %>
<% btn_class ||= 'btn' %>
<% btn_label ||= bookmarked  ? l(:button_project_bookmark_delete) : l(:button_project_bookmark) %>

<% html = [] %>
<% html << content_tag(:i, nil, class: icon_class) if icon %>
<% html << content_tag(:span, btn_label) if text %>

<%= form_tag bookmark_project_path(project), method: method do %>
  <button type="submit" class="<%= btn_class %>" data-bs-toggle="tooltip" title="<%= btn_label %>">
    <%= html.compact.join('&nbsp;').html_safe %>
  </button>
<% end %>