<% icon = icon.nil? ? true : icon %>
<% text = text.nil? ? false : text %>

<% btn_label = l(:button_delete) %>
<% btn_class ||= 'btn' %>

<% html = [] %>
<% html << page_icon(:trash) if icon %>
<% html << content_tag(:span, btn_label) if text %>

<%= form_tag project_path(project), method: :delete do %>
  <button type="submit" class="<%= btn_class %>" data-bs-toggle="tooltip" title="<%= btn_label %>">
    <%= html.compact.join('&nbsp;').html_safe %>
  </button>
<% end %>