<% html_title(l(:label_administration)) -%>

<%= page_title content_tag(:h2, l(:label_administration)) %>

<div id="admin-index">
  <%= render 'application/no_data' if @no_configuration_data %>
  <%= render 'menu' %>
</div>
