<div class="d-flex align-items-center gap-1" role="group" aria-label="Projects actions">
  <%= link_to l(:button_log_time), _new_time_entry_path(@project, @query.filtered_issue_id), class: 'btn btn-success' if User.current.allowed_to?(:log_time, @project, global: true) %>
  <button id="btnGroupIssueAction" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <%= l(:button_actions) %>
  </button>
  <ul class="dropdown-menu">
    <% if User.current.allowed_to?(:import_time_entries, @project, global: true) %>
      <li>
        <%= link_to l(:button_import), new_time_entries_import_path(project_id: @project), class: 'dropdown-item' %>
      </li>
    <% end %>
    <li>
      <%= link_to_if_authorized l(:label_settings), { controller: 'projects', action: 'settings', id: @project, tab: 'activities' }, class: 'dropdown-item' if User.current.allowed_to?(:manage_project_activities, @project) %>
    </li>
  </ul>
</div>