<div id="csv-export-options" style="display: none;">
  <h3 class="title"><%= l(:label_export_options, export_format: 'CSV') %></h3>
  <%= export_csv_encoding_select_tag %>
  <p class="buttons">
    <%= submit_tag l(:button_export), name: nil, id: 'csv-export-button' %>
    <%= submit_tag l(:button_cancel), name: nil, onclick: 'hideModal(this);', type: 'button' %>
  </p>
</div>