<form action="<%= bookmark_project_path(project) %>" method="<%= method %>" data-remote="true">
  <button type="submit" class="btn btn-success">
    <i class="bi bi-bookmark-check"></i>&nbsp;<%= text %>
  </button>
</form>