<% 3.times do |i| %>
  <div class="row align-items-center mb-3">
    <div class="col-auto">
      <%= content_tag(:span, "#{i+1}:", class: 'query_sort_criteria_count')%>
    </div>
    <div class="col-auto">
      <%#= label_tag "query_sort_criteria_attribute_" + i.to_s, l(:description_query_sort_criteria_attribute), class: 'invisible' %>
      <%= select_tag("query[sort_criteria][#{i}][]", options_for_select([[]] + query.available_columns.select(&:sortable?).collect {|column| [column.caption, column.name.to_s]}, @query.sort_criteria_key(i)),
            id: "query_sort_criteria_attribute_" + i.to_s, class: 'form-select') %>
    </div>
    <div class="col-auto">
      <%#= label_tag "query_sort_criteria_direction_" + i.to_s, l(:description_query_sort_criteria_direction), class: 'invisible' %>
      <%= select_tag("query[sort_criteria][#{i}][]", options_for_select([[], [l(:label_ascending), 'asc'], [l(:label_descending), 'desc']], @query.sort_criteria_order(i)),
            id: "query_sort_criteria_direction_" + i.to_s, class: 'form-select') %>
    </div>
  </div>
<% end %>