<div class="btn-group">
  <button id="btnGroupUserAction" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-three-dots"></i>&nbsp;<%= l(:button_actions) %>
  </button>
  <ul class="dropdown-menu">
    <li>
      <% if User.current.allowed_to?(:import_users, nil, global: true) %>
        <%= link_to l(:button_import), new_users_import_path, class: 'dropdown-item' %>
      <% end %>
    </li>
  </ul>
</div>