<% icon ||= true %>
<% text ||= false %>
<% board ||= @board %>
<% user ||= User.current  %>
<% objects ||= board %>
<% objects = Array.wrap(objects) %>

<% if user&.logged? && objects.any? %>
  <% watched = Watcher.any_watched?(objects, user) %>
  <% url = watch_path(object_type: objects.first.class.to_s.underscore, object_id: (objects.size == 1 ? objects.first.id : objects.map(&:id).sort)) %>
  <% method = watched ? 'delete' : 'post' %>
  <% html = [] %>
  <% html << content_tag(:i, nil, class: (watched ? 'bi bi-pin-fill' : 'bi bi-pin')) if icon %>
  <% html << content_tag(:span, (watched ? l(:button_unwatch) : l(:button_watch))) if text %>

  <%= form_tag url, method: method do %>
    <button type="submit" class="btn btn-secondary">
      <%= html.compact.join('&nbsp;').html_safe %>
    </button>
  <% end %>
<% end %>