<% icon = icon.nil? ? true : icon %>
<% text = text.nil? ? false : text %>
<% btn_label = l(:button_delete) %>
<% btn_class = 'btn btn-danger' %>
<% icon_class = 'bi bi-trash' %>
<% html = [] %>
<% html << content_tag(:i, nil, class: icon_class) if icon %>
<% html << content_tag(:span, btn_label) if text %>

<%= form_tag issue_status_path(issue_status), method: :delete do %>
  <button type="submit" class="<%= btn_class %>">
    <%= html.compact.join('&nbsp;').html_safe %>
  </button>
<% end %>