<% if menu_name = controller.current_menu(project) %>
  <ul class="nav nav-tabs">
    <% menu_items_for(menu_name, project) do |node| %>
      <% caption, url, selected = extract_node_details(node, project) %>
      <li class="nav-item">
        <%= link_to caption, url, class: "nav-link#{' active' if selected}", 'data-name': node.name %>
      </li>
    <% end %>
  </ul>
<% end %>