<ul class="navbar-nav">
  <% menu_items_for(:top_menu) do |node| %>
    <% caption, url, selected = extract_node_details(node) %>
    <% if node.name == :administration %>
      <li class="nav-item dropdown">
        <%= link_to caption, url, class: "nav-link dropdown-toggle#{' active' if selected}", 'data-bs-toggle': 'dropdown' %>
        <ul class="dropdown-menu">
          <% menu_items_for(:admin_menu) do |n| %>
            <% caption, url, selected = extract_node_details(n) %>
            <li><%= link_to caption, url, class: "dropdown-item#{' active' if selected}" %></li>
          <% end %>
        </ul>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to caption, url, class: "nav-link#{' active' if selected}" %>
      </li>
    <% end %>
  <% end %>
</div>